<section class="container">
  <div *ngIf="!isLoading" class="form-container">
    <form [formGroup]="linkForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="link"> Video ID </label>
        <input
          id="link"
          type="text"
          placeholder="UxqnikU21"
          formControlName="link"
        />
        <span
          class="error-msg"
          *ngIf="!linkForm.hasError('isInvalid') && linkForm.touched"
        >
          <small> Please enter valid video id </small>
        </span>
        <button [disabled]="!linkForm.valid" title="convert" type="submit">
          Convert
        </button>
      </div>
    </form>
    <div id="linkTuts">
      <img src="../../assets/linkTuts.png" />
    </div>

    <div *ngIf="message.length" class="alert alert-danger">
      <p>{{ message }}</p>
    </div>
  </div>

  <ng-template appPlaceHolder />
  <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
</section>
